<%- include ("../partials/header") %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center formHeaderText">Create new Journal</h1>
            <div class="card">
                <div class="card-body">
                    <form action="/journals" method="POST">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input class="form-control border-dark" type="text" name="name" id="name"
                                aria-describedby="journalNameHelp">
                            <small id="journalNameHelp" class="form-text text-muted">30 alphanumeric character
                                limit</small>
                        </div>
                        <div class="form-group">
                            <label for="image">Image URL: </label>
                            <input class="form-control border-dark" type="text" name="image" id="image"
                                aria-describedby="journalImageHelp">
                            <small id="journalImageHelp" class="form-text text-muted">Complete valid URLs only
                                (format:
                                http(s)://www.sample.com/image.jpg)</small>
                        </div>
                        <div class="form-group">
                            <label for="description">Description: </label>
                            <div>
                                <textarea class="form-control border-dark" name="description" cols="30" rows="10"
                                    id="description" aria-describedby="journalDescriptionHelp"></textarea>
                                <small id="journalDescriptionHelp" class="form-text text-muted">1000 character
                                    limit</small>
                            </div>
                        </div>
                        <div class="formSubmitBtnDiv">
                            <input class="btn-block formSubmitBtn" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <!-- <a href="/journals">Back</a> -->
        </div>
    </div>
</div>

<%- include ("../partials/footer") %>