<%- include ("../partials/header") %>

<div class="container">
    <div class="row">
        <div>
            <h1>Comment on <%= journal.name %></h1>
            <form action="/journals/<%= journal._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea name="comment[text]" id="commentText" cols="30" rows="10" placeholder="comment"
                        aria-describedby="commentTextHelp"></textarea>
                    <small id="commentTextHelp" class="form-text text-muted">300 character limit</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- <a href="/journals">Back</a> -->
        </div>
    </div>
</div>

<%- include ("../partials/footer") %>