<%- include ("partials/header") %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center formHeaderText">Login</h1>
            <div class="card">
                <div class="card-body">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input class="form-control border-dark" type="text" name="username" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class="form-control border-dark" type="password" name="password" id="password">
                        </div>
                        <div class="formSubmitBtnDiv">
                            <input class="btn-block" type="submit" value="Log in">
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="text-center">
                <a href="/journals">Back</a>
            </div> -->
        </div>
    </div>
</div>

<%- include ("partials/footer") %>