body {
    font-family: 'Laila', serif;
    padding-bottom: 30px;
}

#mainNav {
    margin-bottom: 15px;
    background-color: rgb(115, 237, 251);
    padding: 4px 12px;
    font-weight: bold;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.nav-item {
    font-size: 1.2rem;
}

.nav-item:hover {
    color: #000;
}

.nav-link {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 1rem;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.jumbotron h1 {
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
    color:          #fff;
    font-size:      3rem;
}

.jumbotron p {
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
    color:          #fff;
    font-size:      1.5rem;
}

.jumboBtn {
    background-color: rgba(8, 185, 205, 0.8);
    font-weight: bold;
    width: 250px;
    color: #fff;
}

.img-thumbnail {
    margin-bottom: 10px;
    height: 315px;
    width: 100%;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.img-fluid {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

.journalCard {
    margin-bottom: 15px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.journalCard:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.journalCard:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#journalEditDelBtns form {
    display: inline-block;
    margin-bottom: 10px;
}

.journalText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 15px;
    color: #000;
}

.formHeaderText {
    margin-bottom: 1rem;
    text-shadow:
        0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

.card {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.formSubmitBtnDiv {
    margin-top: 2rem;
    padding: 0 2.5rem 0 2.5rem;
}

.formSubmitBtn {
    background-color: hsla(186, 92%, 42%, 0.8);
    font-weight: bold;
    width: 250px;
    color: #000;
    border-radius: 0.25rem;
}

.formSubmitBtn:hover {
    filter: brightness(125%);
    -webkit-filter: brightness(125%);
}