body {
    font-family: 'Kreon', serif;
}

#mainNav {
    margin-bottom: 15px;
    background-color: rgba(8, 185, 205, 0.5);
    padding: 4px 12px;
    font-family: 'Laila', serif;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.nav-item {
    font-size: 1.2rem;
}

.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 1rem;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.jumbotron h1 {
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
    color:          #fff;
    font-size:      3rem;
}

.jumbotron p {
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
    color:          #fff;
    font-size:      1.5rem;
}

.jumboBtn {
    background-color: rgba(8, 185, 205, 0.8);
    font-weight: bolder;
    width: 250px;
    color: #fff;
}

.img-thumbnail {
    margin-bottom: 10px;
    height: 315px;
    width: 100%;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.img-fluid {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.journalCard {
    margin-bottom: 15px;
}

#journalEditDelBtns form {
    display: inline-block;
    margin-bottom: 10px;
}